
.b{ background-image:url(../img/d.jpg);background-size:cover;}
	
.navbar{
	 text-align:center; 
	  background-color:rgba(0,0,0,0.1); 
         } 
 .navbar ul{
	 display:inline-flex;
	 list-style-type:none;
            }
 .navbar ul li{
	 width:120px;
	 padding:15px;
               }
.bi{
position:relative;
left:300px;
}	
.ft{
	text-align:center; 
	  background-color:rgba(0,0,0,0.1); 
	  padding:50px;
	 width:100%;
	
	 color:black;
}
.gal img{
	width:250px;
	 height:200px;
	 margin:30px;
	
}
	
			   